---
layout: page
---

<div class="title">
  <h2>{{ page.title }}</h2>
  {% if page.author %}
    {% if page.published_at %}
      {% if page.updated_at %}
        <table>
          <tr>
            <td>By {{ page.author }}</td>
            <td>Published at {{ page.published_at | date: "%Y-%m-%d" }}</td>
            <td>Updated at {{ page.updated_at | date: "%Y-%m-%d" }}</td>
          </tr>
        </table>
        <hr>
      {% endif %}
    {% endif %}
  {% endif %}
</div>

{{ content }}

{%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
{%- endif -%}

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
